# In a non-commented line (remove comment with #), use syntax like so: 
# ReaderName=ReaderExecutable
# For example:
# Sumatra=C:\Portable\SumatraPDF-3.5.2-64\SumatraPDF-3.5.2-64.exe
# Adobe=C:\Program Files\Adobe\Acrobat DC\Acrobat\Acrobat.exe
